html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-btn-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 12px;
}

.grid-info {
  margin-top: 12px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.settings button {
  width: 100px;
  height: 30px;
  border: 1px solid;
  cursor: pointer;
}

.black-btn {
  color: white;
  background-color: black;
}

.board{
  margin: 25px auto 25px; 
  width: 400px;
  height: 400px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}

.board > div {
  flex-basis: calc(100% / var(--dimension));
  box-sizing: border-box;
}